:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  --primary-color: #5979a1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2c2c2c;
}

header {
  background-color: var(--primary-color);
  padding: 10px;
  padding-left: 25px;
}

h1 {
  font-size: 2em;
  color: whitesmoke;
}

button {
  color: whitesmoke;
  padding: 5px 15px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  box-shadow: 2px 2px 1px #585858;
}

.main-container {
  margin: 20px 50px;
}

.add-btn {
  background-color: var(--primary-color);
  margin-top: 10px;
}

.add-btn:hover, .edit-btn:hover {
  background-color: #435a77;
}

.input-container {
  display: flex;
  margin: 10px 0;
  gap: 10px;
}

.save-btn {
  background-color: #3e8173;
}

.save-btn:hover {
  background-color: #2f6156;
}

.input-container input {
  outline: none;
}

.task-container {
  background-color: whitesmoke;
  padding: 10px;
  width: 50vw;
  margin-bottom: 10px;
}

.task-container ul {
  list-style-type: circle;
  list-style-position: inside;
}

.task-container li {
  padding: 5px;
  border-bottom: 1px solid black;
}

.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.completed-list-item {
  text-decoration: line-through;
}

.task-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-btn {
  background-color: #a02424;
}

.delete-btn:hover {
  background-color: #7c1c1c;
}

.task-btns input[type="checkbox"] {
  cursor: pointer;
  align-self: stretch;
  width: 18px;
  accent-color: var(--primary-color);
}

input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: transparent;
}

.edit-btn {
  background-color: var(--primary-color);
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filters li {
  list-style-type: none;
}

.filters .btn {
  color: black;
}

.filters .btn:hover {
  background-color: rgb(206, 206, 206);
}

.filters .btn.active {
  background-color: #5979a1;
  color: whitesmoke;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  color: whitesmoke;
}

.dropdown-wrapper {
  position: relative;
}

.more-options {
  padding: 0 0.5rem;
  background-color: transparent;
  color: black;
  font-size: 20px;
  border-style: none;
  cursor: pointer;
  box-shadow: none;
}

.dropdown {
  position: absolute;
  top: 100%;
  width: max-content;
  background-color: whitesmoke;
  z-index: 2;
  cursor: pointer;
}

.dropdown li {
  border-bottom: none;
  list-style-type: none;
}

.dropdown li:hover {
  background-color: var(--primary-color);
  color: whitesmoke;
}