:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  --primary-color: #6D94C5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2c2c2c;
}

header {
  background-color: var(--primary-color);
  padding: 10px;
  padding-left: 25px;
}

h1 {
  font-size: 2em;
  color: whitesmoke;
}

button {
  color: whitesmoke;
  padding: 5px 15px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  box-shadow: 2px 2px 1px #585858;
}

.main-container {
  margin: 20px 50px;
}

.add-btn {
  background-color: var(--primary-color);
  margin-top: 10px;
}

.input-container {
  display: flex;
  margin: 10px 0;
  gap: 10px;
}

.input-container button {
  background-color: #3e8173;
}

.input-container input {
  outline: none;
}

.task-container {
  background-color: whitesmoke;
  padding: 10px;
  width: 50vw;
  margin-bottom: 10px;
}

.task-container ul {
  list-style-type: circle;
  list-style-position: inside;
}

.task-container li {
  padding: 5px;
  border-bottom: 1px solid black;
}

.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.task-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-btn {
  background-color: rgb(160, 36, 36);
}

.task-btns input[type="checkbox"] {
  cursor: pointer;
  align-self: stretch;
  width: 18px;
  accent-color: var(--primary-color);
}

input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: transparent;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filters li {
  list-style-type: none;
}

.filters .btn {
  color: black;
}