:root {
  --primary-color: #3c83f6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* general */
body {
  background-color: #F8FAFC;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

header {
  background-color: var(--primary-color);
  padding: 10px;
  padding-left: 25px;
}

h1 {
  font-size: 2em;
  color: whitesmoke;
}

button {
  color: whitesmoke;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
  /* box-shadow: 2px 2px 1px #585858; */
}

.main-container {
  margin: 20px 50px;
}

.add-btn {
  background-color: var(--primary-color);
}

.btns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: 1.5rem auto;
}

.btns-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.add-btn:hover, .edit-btn:hover, .close-btn:hover {
  background-color: #435a77;
}

.input-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
}

.save-btn {
  background-color: #3e8173;
}

.save-btn:hover {
  background-color: #2f6156;
}

.input-container input {
  outline: none;
}

.error-msg {
  color: #a02424;
}

/* tasks container */
.task-container {
  position: relative;
  background-color: whitesmoke;
  padding: 10px;
  width: 80vw;
  margin: 1rem auto;
}

.task-container ul {
  list-style-type: circle;
  list-style-position: inside;
}

.task-container li {
  padding: 5px;
  border-bottom: 1px solid black;
}

.list-items,
.task-desc,
.task-more-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.task-desc,
.task-more-info {
  width: 100%;
}

.task-more-info {
  justify-content: flex-end;
}

.completed-list-item {
  text-decoration: line-through;
}

.task-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-btn {
  background-color: #a02424;
}

.delete-btn:hover {
  background-color: #7c1c1c;
}

.task-btns input[type="checkbox"] {
  cursor: pointer;
  align-self: stretch;
  width: 18px;
  accent-color: var(--primary-color);
}

input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: transparent;
}

.edit-btn, .close-btn {
  background-color: var(--primary-color);
}

.more-options {
  padding: 0 0.5rem;
  background-color: transparent;
  color: black;
  font-size: 20px;
  border-style: none;
  cursor: pointer;
  box-shadow: none;
}

/* tasks header */
.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  color: whitesmoke;
  margin: 1rem auto;
}

.tasks-header-btns {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

/* filters */
.filters {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.filters li {
  list-style-type: none;
}

.filters .btn {
  color: black;
  border-radius: 12px;
}

.filters .btn:hover {
  background-color: rgb(206, 206, 206);
}

.filters .btn.active {
  background-color: #3C83F6;
  color: whitesmoke;
}

.active-filter {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.2rem;
  background-color: #84d9dc;
  color: #2c2c2c;
  opacity: 0.8;
}

.active-filter span {
  font-size: 12px;
  cursor: pointer;
}

/* dropdown menu */
.dropdown-wrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  width: max-content;
  background-color: whitesmoke;
  color: black;
  z-index: 2;
  cursor: pointer;
}

.dropdown li {
  border-bottom: none;
  list-style-type: none;
}

.dropdown li:hover {
  background-color: var(--primary-color);
  color: whitesmoke;
}

.dropdown-filter li {
  padding: 5px;
}

/* priorities */
.priority-low {
  color: #3e8173;
}

.priority-medium {
  color: #b2b25c;
}

.priority-high {
  color: #a02424;
}

/* modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal {
  width: 50vw;
  padding: 2rem;
  background: #b1b1b1;
}

.modal .add-btn {
  margin-top: 0;
}

.close-btn-wrapper {
  margin: 1rem;
  margin-bottom: 0;
  text-align: center;
}

/* categories */
.categories-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem;
}

.categories, .category {
  background-color: cadetblue;
  color: #2c2c2c;
}

.category, .active-filter {
  padding: 0.4rem;
  border-radius: 5px;
  border: 1px outset #4b7c7e;
}

.categories:hover {
  background-color: #4b7c7e;
}

.category-active {
  opacity: 0.7;
  cursor: default;
}

.category-active:hover {
  background-color: cadetblue;
}

.icon {
  width: 20px;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

#search-bar {
  padding-left: 0.2rem;
  background: whitesmoke;
}