:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #F5EFE6;
}

header {
  background-color: #6D94C5;
  padding: 10px;
}

h1 {
  font-size: 2em;
  color: whitesmoke;
}