:root {
  --primary-color: #3c83f6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* general */
body {
  background-color: #F8FAFC;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

header {
  background-color: var(--primary-color);
  padding: 10px;
  padding-left: 25px;
}

h1 {
  font-size: 2em;
  color: whitesmoke;
}

button {
  color: #000;
  padding: 0.5rem 1rem;
  background-color: #F1F5F9;
  border-radius: 8px;
  border: 1px solid #b3b3b3;
  cursor: pointer;
}

.main-container {
  margin: 20px 50px;
}

.add-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.btns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: 1.5rem auto;
}

.btns-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 10px;
}

.input-container label {
  font-weight: 600;
}

.save-btn {
  background-color: #3e8173;
}

.save-btn:hover {
  background-color: #2f6156;
}

.input-container input {
  outline: none;
}

.error-msg {
  margin-top: 0.5rem;
  color: #ca0000;
  text-align: center;
}

.additional-tasks-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

/* new task */
.task-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.task-options .input-container {
  flex: 1;
}

.input-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

/* tasks container */
.task-container {
  position: relative;
  width: 80vw;
  margin: 1rem auto;
  padding: 10px;
}

.list-items {
  margin-bottom: 0.5rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 20px -4px hsl(217 91% 60% / 0.08);
}

.list-items,
.task-desc,
.task-more-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.task-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task-desc,
.task-more-info {
  width: 100%;
}

.task-more-info {
  flex-direction: row;
  gap: 1rem;
}

.completed-list-item {
  text-decoration: line-through;
}

.task-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.delete-btn {
  background: transparent;
  color: #d80000;
  border: none;
}

.delete-btn:hover {
  background-color: #d8000028;
}

.checked-task {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 1.5px solid #888888;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  place-content: center;
}

.checked-task::before {
  content: "";
  width: 10px;
  height: 4px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg) scale(0);
}

.checked-task:checked {
  background-color: rgb(2, 179, 2);
  border-color: rgb(2, 179, 2);
}

.checked-task:checked::before {
  transform: rotate(-45deg) scale(1);
}


input, select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: transparent;
}

input:hover {
  cursor: pointer;
}

.edit-btn {
  background: transparent;
  color: var(--primary-color);
  border: none;
}

.edit-btn:hover {
  background-color: #3c83f631;
}

.more-options {
  padding: 0 0.5rem;
  background-color: transparent;
  color: black;
  font-size: 20px;
  border-style: none;
  cursor: pointer;
  box-shadow: none;
}

/* tasks header */
.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  color: whitesmoke;
  margin: 1rem auto;
}

.tasks-header-btns {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

/* filters */
.filters {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.filters li {
  list-style-type: none;
}

.filters .btn {
  color: black;
  border-radius: 12px;
  border: none;
}

.filters .btn:hover {
  background-color: rgb(206, 206, 206);
}

.filters .btn.active {
  background-color: #3C83F6;
  color: whitesmoke;
}

.active-filter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 0.2rem 0.5rem;
  background-color: #619bf73b;
  color: #3E84F6;
  font-weight: 500;
  border-radius: 20px;
}

.active-filter span {
  font-size: 12px;
  cursor: pointer;
}

/* dropdown menu */
.dropdown-wrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  width: max-content;
  padding: 0.2rem;
  background-color: white;
  color: black;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #0000001d;
  z-index: 2;
  cursor: pointer;
}

.dropdown li {
  border-bottom: none;
  list-style-type: none;
  border-radius: 8px;
}

.dropdown li:hover {
  background-color: var(--primary-color);
  color: whitesmoke;
}

.dropdown-filter li {
  padding: 5px;
}

/* priorities */
.priority, .category {
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 20px;
}

.priority-low {
  background-color: #16a24933;
  color: #16A249;
}

.priority-medium {
  background-color: #c47f0826;
  color: #C47F08;
}

.priority-high {
  background-color: #f04a4a2f;
  color: #F04A4A;
}

/* modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal {
  width: 35vw;
  padding: 2rem;
  background: whitesmoke;
  border-radius: 10px;
}

.modal h1 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}

.modal button {
  margin-top: 1rem;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

/* categories */
.categories-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem;
}

.category {
  background-color: #619bf73b;
  color: #3E84F6;
}

.categories:hover {
  background-color: #4b7c7e;
}

.category-active {
  opacity: 0.7;
  cursor: default;
}

.category-active:hover {
  background-color: cadetblue;
}

.add-category {
  width: 5rem;
  margin: 0 auto;
}

.close-btn {
  margin-top: 0 !important;
  padding: 0;
  border: none;
}

/* due date */
.due-date {
  font-size: 12px;
  color: #828282;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #00000047;
  border-radius: 8px;
}

.icon button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  background: transparent;
  border: none;
}

.icon button img {
  width: 20px;
}

#search-bar {
  padding-left: 0.2rem;
  background: #F8FAFC;
  outline: 2px solid transparent;
}

#search-bar:focus {
  outline-color: var(--primary-color);
}